%%-*- mode: erlang -*-
[
  {stenographer, [
                  {protocol, tcp},
                  {tags, [{a, b}]}
                 ]},
  {hut, [
         {level, debug}
        ]},

  {exometer_core, [
      {report, [
          {reporters, [
              {stenographer_exometer, []}
          ]}

          % {subscribers, [
          %     {stenographer_exometer, [a], [one], 10000, true, []}
          % ]}
      ]}
  ]}
].
